@import 'assets/styles.scss';

.menu {
  background: $azul-escuro;
  box-sizing: border-box;
  color: #fff;
  flex-direction: column;
  font-family: 'Raleway';
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 99;
  hr {
    margin: 0.5rem;
  }
}
