@import 'assets/styles.scss';

.header {
  background: $azul-escuro;
  display: flex;
  justify-content: center;
  div {
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: $limite;
    padding: 2rem 1.5rem;
    width: 100%;
    .menu {
      color: #fff;
      background-color: $azul-escuro;
      border: none;
      padding: 0;
    }
    @media screen and (min-width: $tablet) {
      flex-direction: column;
      gap: 2rem;
      justify-content: space-between;
      padding: 2rem 3.75rem;
      .menu {
        display: none;
      }
    }
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      padding: 2rem 7.5rem;
    }
  }
}