@import 'assets/styles.scss';

.nav {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    font-family: 'Raleway';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: center;
    width: 100%;
    ul {
      display: flex;
      justify-content: space-between;
      a:hover {
        text-decoration: underline;
      }
    }
  }
  @media screen and (min-width: $desktop) {
    width: 50%;
  }
}