@import 'assets/styles.scss';

.footer {
  background-color: $amarelo;
  display: flex;
  justify-content: center;
  width: 100%;
  .content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    justify-content: space-between;
    max-width: $limite;
    padding: 1.5rem;
    width: 100%;
    @media screen and (min-width: $desktop) {
      display: grid;
      grid-template-areas: 
        "logo info"
        "social info";
      justify-items: start;
      padding: 1.5rem 7.5rem;
    }
    .logo {
      grid-area: logo;
    }
    .social {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: space-between;
      margin-top: 0.5rem;
      @media screen and (min-width: $tablet) {
        flex-direction: row;
        margin-top: 1.5rem;
      }
      @media screen and (min-width: $desktop) {
        grid-area: social;
        margin-top: 0;
      }
    }
    ul {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
    }
    .info {
      display: block;
      text-align: center;
      margin-top: 2rem;
      a {
        color: $azul-escuro;
        &:hover {
          text-decoration: underline;
        }
      }
      @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        grid-area: info;
        height: 100%;
        text-align: left;
      }
    }
    span {
      font-size: 1.25rem;
      line-height: 2.5rem;
    }
  }
}