// cores
$amarelo: #FACF9D;
$amarelo-claro: #FBF0DD;
$azul-escuro: #2E7BA2;
$azul-claro: #C8DEEF;
$azul-hover: #519EC5;
$mostarda: #DF9010;

//breakpoints
$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;