// cores
$amarelo: #FACF9D;
$amarelo-claro: #FBF0DD;
$azul-escuro: #2E7BA2;
$azul-claro: #C8DEEF;
$azul-hover: #519EC5;
$cinza: #444444;
$mostarda: #DF9010;

//breakpoints
$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;
$limite: 1920px;

// animações
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

//mixins
@mixin card-experiencia {
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    &:nth-child(2n) {
      flex-direction: row-reverse;
      div {
        align-items: end;
        margin-left: 0;
        margin-right: 3rem;
        text-align: right;
      }
    }
  }
}

