@import 'assets/styles.scss';

.banner {
  animation: fadein 2s;
  align-items: center;
  background: #fff;
  display: flex;
  flex-grow: 0;
  justify-content: center;
  min-height: 250px;
  @media screen and (min-width: $tablet) {
    min-height: 384px;
  }
  @media screen and (min-width: $desktop) {
    min-height: 407px;
  }
  img {
    max-height: 270px;
    min-height: 250px;
    object-fit: cover;
    opacity: 40%;
    resize: vertical;
    width: 100%;
    @media screen and (min-width: $tablet) {
      max-height: 384px;
    }
    @media screen and (min-width: $desktop) {
      max-height: 407px;
    }
  }
  h2 {
    color: $cinza;
    font-family: 'Calistoga';
    font-size: 2rem;
    line-height: 2.5rem;
    position: absolute;
    text-align: center;
    @media screen and (min-width: $tablet) {
      line-height: 5rem;
      font-size: 4rem;
    }
  }
}